<h1>Mario's Specialty Food Products</h1>

<h2>New Products</h2>
<!-- TODO -->

<h2>Most Reviewed Product</h2>
<!-- TODO -->

<p><%= link_to "View All Products", products_path %></p>

<!-- TODO: Link to products made in the USA -->
