<%= render "layouts/navbar" %>

<h1>Products <%= @usa ? "Made in the USA" : "" %></h1>
<p><%= link_to "Add a product", new_product_path(@product) %></p>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products to show.</p>
<% end %>
